<!--
  Ply (free tier) — https://ply-ui.com
  Free to use in unlimited projects. Do not redistribute this source as a library, kit, or template collection.
  Full license terms: https://github.com/ply-ui-ng/ply/blob/main/LICENSE.md
-->
<ply-card>
          <ply-tabs type="underline" class="block pt-3">
            <ply-tab>
              <ply-tab-label class="p-4">Sign Up</ply-tab-label>
              <ply-tab-body>
                <div class="flex flex-col gap-4 p-6">
                  <ply-input-group>
                    <ply-label class="text-[10px]! uppercase font-light! tracking-[2px]!">Name</ply-label>
                    <input ply-input placeholder="Name" />
                  </ply-input-group>
                  <ply-input-group>
                    <ply-label class="text-[10px]! uppercase font-light! tracking-[2px]!">Lastname</ply-label>
                    <input ply-input placeholder="Lastname" />
                  </ply-input-group>

                  <ply-input-group>
                    <ply-label class="text-[10px]! uppercase font-light! tracking-[2px]!">Phone</ply-label>
                    <input ply-input placeholder="Phone" />
                  </ply-input-group>
                  <ply-input-group>
                    <ply-label class="text-[10px]! uppercase font-light! tracking-[2px]!">Email</ply-label>
                    <input ply-input placeholder="Email" />
                  </ply-input-group>
                  <ply-input-group>
                    <ply-label class="text-[10px]! uppercase font-light! tracking-[2px]!">Password</ply-label>
                    <input ply-input type="password" placeholder="Password" />
                  </ply-input-group>
                  <ply-input-group>
                    <ply-label class="text-[10px]! uppercase font-light! tracking-[2px]!">Confirm
                      Password</ply-label>
                    <input ply-input type="password" placeholder="Confirm Password" />
                  </ply-input-group>
                </div>
                <div class="flex flex-col gap-6 px-6">
                  <ply-checkbox class="text-xs text-slate-500 whitespace-nowrap">I accept the
                    <a ply-link href="#">Terms and Conditions</a>
                  </ply-checkbox>
                  <button ply-button color="primary">Sign Up</button>
                </div>
                <div class="flex flex-col items-center mt-auto p-6 pb-10">
                  <p class="text-sm uppercase font-light text-slate-400 mb-4">Or sign in with</p>
                  <div class="flex gap-4">
                    <button ply-stroked-icon-button class="rounded-full!">
                      <ply-icon name="facebook"></ply-icon>
                    </button>
                    <button ply-stroked-icon-button class="rounded-full!">
                      <ply-icon name="linkedin"></ply-icon>
                    </button>
                    <button ply-stroked-icon-button class="rounded-full!">
                      <ply-icon name="x-twitter"></ply-icon>
                    </button>
                  </div>
                </div>
              </ply-tab-body>
            </ply-tab>
            <ply-tab>
              <ply-tab-label>Login</ply-tab-label>
              <ply-tab-body>
                <div class="p-6 max-w-100 mx-auto">
                  <ply-input-group class="mb-4">
                    <ply-label class="text-[10px]! uppercase font-light! tracking-[2px]!">Login</ply-label>
                    <input ply-input placeholder="Login" />
                  </ply-input-group>
                  <ply-input-group class="mb-4">
                    <ply-label class="text-[10px]! uppercase font-light! tracking-[2px]!">Password</ply-label>
                    <input ply-input type="password" placeholder="Password" />
                    <button ply-addon-end class="px-3 text-slate-400"><ply-icon name="eye"
                        class="w-4 h-4"></ply-icon></button>
                  </ply-input-group>

                  <div class="flex items-center justify-between my-8">
                    <ply-checkbox class="text-xs text-slate-500">Remember me</ply-checkbox>
                    <a href="#" class="text-xs font-bold text-slate-900 dark:text-white">Forgot password?</a>
                  </div>

                  <button ply-button color="primary" class="w-full mb-8">Sign In</button>

                  <div class="flex flex-col items-center mt-auto">
                    <p class="text-[10px]! uppercase font-light! mb-6 dark:text-slate-300">Or sign in with</p>
                    <div class="flex gap-4">
                      <button ply-stroked-icon-button color="transparent">
                        <ply-icon name="facebook" class="w-4 h-4"></ply-icon>
                      </button>
                      <button ply-stroked-icon-button color="transparent">
                        <ply-icon name="linkedin" class="w-4 h-4"></ply-icon>
                      </button>
                      <button ply-stroked-icon-button color="transparent">
                        <ply-icon name="x-twitter" class="w-4 h-4"></ply-icon>
                      </button>
                    </div>
                  </div>
                </div>
              </ply-tab-body>
            </ply-tab>
          </ply-tabs>
        </ply-card>