<!--
  Ply (free tier) — https://ply-ui.com
  Free to use in unlimited projects. Do not redistribute this source as a library, kit, or template collection.
  Full license terms: https://github.com/ply-ui-ng/ply/blob/main/LICENSE.md
-->
@if (showMobileBar()) {
  <div [class]="mobileBarClass()">
    <button
      ply-icon-button color="transparent"
      (click)="openNavBar()"
      size="sm"
      aria-label="Toggle Navigation"
      class="mr-3"
      >
      <ply-icon [name]="navBarOpen() ? 'close' : 'more'"></ply-icon>
    </button>
    <ply-breadcrumb>
      @if (parentLabel()) {
        <ply-breadcrumb-item [label]="parentLabel()!"></ply-breadcrumb-item>
      }
      <ply-breadcrumb-item [label]="selectedLabel()"></ply-breadcrumb-item>
    </ply-breadcrumb>
  </div>
}
<div class="relative flex h-full w-full flex-1 overflow-hidden">
  <div [class]="navRailClass()" (click)="onNavClick()">
    <ng-content select="ply-sidenav-nav"></ng-content>
  </div>

  <div [class]="bodyClass()">
    <ng-content select="ply-sidenav-body"></ng-content>
  </div>
</div>
