<!--
  Ply (free tier) — https://ply-ui.com
  Free to use in unlimited projects. Do not redistribute this source as a library, kit, or template collection.
  Full license terms: https://github.com/ply-ui-ng/ply/blob/main/LICENSE.md
-->
<ply-card class="mb-8">
        <div class="flex justify-between items-center px-6 py-4 border-b border-slate-100 dark:border-slate-800">
          <h3 class="font-bold text-sm text-slate-900 dark:text-white">Shipping Info</h3>
          <div class="flex gap-2 items-center">
            <ply-icon name="check-circle" class="w-4 h-4 stroke-green-500"></ply-icon>
            <div
              class="w-4 h-4 rounded-full bg-slate-100 dark:bg-slate-800 flex items-center justify-center text-[10px] font-bold text-slate-400">
              2</div>
            <ply-icon name="x" class="w-4 h-4 stroke-slate-400"></ply-icon>
          </div>
        </div>
        <ply-card-body class="p-6 flex flex-col flex-1">
          <div class="flex gap-4 mb-6">
            <button
              class="flex-1 py-3 px-4 rounded-xl border border-slate-900 dark:border-white text-[10px] font-bold uppercase tracking-widest text-slate-900 dark:text-white">Free
              Delivery</button>
            <button
              class="flex-1 py-3 px-4 rounded-xl border border-slate-200 dark:border-slate-700 text-[10px] font-bold uppercase tracking-widest text-slate-400">Express
              Delivery ($12.00)</button>
          </div>

          <ply-input-group class="mb-4">
            <ply-label class="text-[10px]! uppercase font-light! tracking-[2px]!">Shipping
              Address</ply-label>
            <input ply-input placeholder="Street address or P.O. box" />
          </ply-input-group>

          <div class="flex gap-4 mb-4">
            <ply-input-group class="flex-1">
              <ply-label class="text-[10px]! uppercase font-light! tracking-[2px]!">First Name</ply-label>
              <input ply-input placeholder="First Name" />
            </ply-input-group>
            <ply-input-group class="flex-1">
              <ply-label class="text-[10px]! uppercase font-light! tracking-[2px]!">Last Name</ply-label>
              <input ply-input placeholder="Last Name" />
            </ply-input-group>
          </div>

          <div class="flex gap-4 mb-4">
            <ply-input-group class="flex-1">
              <ply-label class="text-[10px]! uppercase font-light! tracking-[2px]!">Phone</ply-label>
              <input ply-input placeholder="Phone" />
            </ply-input-group>
            <ply-input-group class="flex-1">
              <ply-label class="text-[10px]! uppercase font-light! tracking-[2px]!">Email</ply-label>
              <input ply-input placeholder="Email" />
            </ply-input-group>
          </div>

          <div class="flex gap-4 mb-4">
            <ply-input-group class="flex-1">
              <ply-label class="text-[10px]! uppercase font-light! tracking-[2px]!">Country</ply-label>
              <select ply-input class="appearance-none">
                <option>United States</option>
              </select>
              <ply-icon ply-addon-end name="chevron-down"
                class="w-4 h-4 text-slate-400 mr-3 pointer-events-none absolute right-0 top-1/2 -translate-y-1/2"></ply-icon>
            </ply-input-group>
            <ply-input-group class="flex-1">
              <ply-label class="text-[10px]! uppercase font-light! tracking-[2px]!">State</ply-label>
              <select ply-input class="appearance-none">
                <option>California</option>
              </select>
              <ply-icon ply-addon-end name="chevron-down"
                class="w-4 h-4 text-slate-400 mr-3 pointer-events-none absolute right-0 top-1/2 -translate-y-1/2"></ply-icon>
            </ply-input-group>
          </div>

          <div class="flex gap-4 mb-4">
            <ply-input-group class="flex-1">
              <ply-label class="text-[10px]! uppercase font-light! tracking-[2px]!">City</ply-label>
              <select ply-input class="appearance-none">
                <option>Palo Alto</option>
              </select>
              <ply-icon ply-addon-end name="chevron-down"
                class="w-4 h-4 text-slate-400 mr-3 pointer-events-none absolute right-0 top-1/2 -translate-y-1/2"></ply-icon>
            </ply-input-group>
            <ply-input-group class="flex-1">
              <ply-label class="text-[10px]! uppercase font-light! tracking-[2px]!">Zipcode</ply-label>
              <input ply-input placeholder="Zipcode" />
            </ply-input-group>
          </div>

          <ply-input-group class="mb-6 flex-1">
            <ply-label class="text-[10px]! uppercase font-light! tracking-[2px]!">Area</ply-label>
            <textarea ply-textarea rows="3" placeholder="Area"></textarea>
          </ply-input-group>

          <div class="flex gap-4 mt-auto justify-between">
            <button ply-stroked-button color="primary" class=" py-3">
              <ply-icon name="arrow-left" class="-ml-2"></ply-icon>
              Back
            </button>
            <button ply-stroked-button color="primary" class=" py-3">Next Step
              <ply-icon name="arrow-right" class="-mr-2"></ply-icon>
            </button>
          </div>
        </ply-card-body>
      </ply-card>