<!--
  Ply (free tier) — https://ply-ui.com
  Free to use in unlimited projects. Do not redistribute this source as a library, kit, or template collection.
  Full license terms: https://github.com/ply-ui-ng/ply/blob/main/LICENSE.md
-->
@if (!isClosed()) {
<div [class]="alertClasses()">
  <div class="flex gap-4 items-start">
    @if (icon()) {
    <ply-icon [name]="icon()" [class]="iconClasses()"></ply-icon>
    }
    <div class="flex-1 mt-0.5">
      <ng-content></ng-content>
    </div>
    @if (close()) {
    <button type="button" [class]="closeButtonClasses()" (click)="handleClose()" aria-label="Close alert">
      <ply-icon name="close" [class]="closeIconClasses()"></ply-icon>
    </button>
    }
  </div>
  <ng-content select="ply-alert-actions"></ng-content>
</div>
}