<!--
  Ply (free tier) — https://ply-ui.com
  Free to use in unlimited projects. Do not redistribute this source as a library, kit, or template collection.
  Full license terms: https://github.com/ply-ui-ng/ply/blob/main/LICENSE.md
-->
<ply-card class="mb-8">
        <div class="h-35 bg-slate-100 relative shrink-0">
          <img src="assets/images/breathtaking_nature_mountain_1776362688676.png"
            class="w-full h-full object-cover z-0" alt="mountain">
          <div class="absolute inset-0 bg-slate-900/30"></div>
          <h3 class="absolute top-4 left-6 font-bold text-white uppercase tracking-widest text-sm">Profile
            Settings</h3>
          <button ply-icon-button size="sm" color="inverted" class="absolute! top-4 right-4 rounded-full!">
            <ply-icon name="more"></ply-icon>
          </button>
          <div class="absolute bottom-4 left-6 flex items-start gap-4 -mt-8 mb-8 z-10">
            <ply-avatar size="full" shape="circle"
              class="w-20 h-20 rounded-full border-4 border-white dark:border-slate-900"
              avatarUrl="assets/images/avatar1.jpeg" ariaLabel="Edit profile"></ply-avatar>
            <div class="flex-1 flex justify-between items-center mt-3">
              <div class="flex gap-2">
                <button ply-stroked-icon-button size="sm" color="white" class="rounded-full!">
                  <ply-icon name="edit"></ply-icon>
                </button>
                <button ply-stroked-icon-button size="sm" color="white" class="rounded-full!">
                  <ply-icon name="trash"></ply-icon>
                </button>
              </div>
              <button ply-icon-button size="sm" color="inverted" aria-label="User" class="rounded-full! mr-10">
                <ply-icon name="user"></ply-icon>
              </button>
            </div>
          </div>
        </div>
        <ply-card-body class="p-6 pt-0 flex flex-col flex-1">
          <div class="flex gap-4 mb-4">
            <ply-input-group class="flex-1">
              <ply-label class="text-[10px]! uppercase font-light! tracking-[2px]!">First Name</ply-label>
              <input ply-input value="Sarah" />
            </ply-input-group>
            <ply-input-group class="flex-1">
              <ply-label class="text-[10px]! uppercase font-light! tracking-[2px]!">Last Name</ply-label>
              <input ply-input value="Mitchell" />
            </ply-input-group>
          </div>
          <div class="flex gap-4 mb-4">
            <ply-input-group class="flex-1">
              <ply-label class="text-[10px]! uppercase font-light! tracking-[2px]!">Phone</ply-label>
              <input ply-input value="+1 (555) 123-4567" />
            </ply-input-group>
            <ply-input-group class="flex-1">
              <ply-label class="text-[10px]! uppercase font-light! tracking-[2px]!">Email</ply-label>
              <input ply-input value="sarah@example.com" />
              <ply-icon ply-addon-end name="check-circle" class="w-4 h-4 stroke-green-500"></ply-icon>
            </ply-input-group>
          </div>
          <div class="flex gap-4 mb-4">
            <ply-input-group class="flex-1">
              <ply-label class="text-[10px]! uppercase font-light! tracking-[2px]!">Country</ply-label>
              <select ply-input class="appearance-none">
                <option>United States</option>
              </select>
              <ply-icon ply-addon-end name="chevron-down"
                class="w-4 h-4 text-slate-400 mr-3 pointer-events-none absolute right-0 top-1/2 -translate-y-1/2"></ply-icon>
            </ply-input-group>
            <ply-input-group class="flex-1">
              <ply-label class="text-[10px]! uppercase font-light! tracking-[2px]!">State</ply-label>
              <select ply-input class="appearance-none">
                <option>California</option>
              </select>
              <ply-icon ply-addon-end name="chevron-down"
                class="w-4 h-4 text-slate-400 mr-3 pointer-events-none absolute right-0 top-1/2 -translate-y-1/2"></ply-icon>
            </ply-input-group>
          </div>
          <div class="flex gap-4 mb-4">
            <ply-input-group class="flex-1">
              <ply-label class="text-[10px]! uppercase font-light! tracking-[2px]!">Zipcode</ply-label>
              <input ply-input value="94301" />
            </ply-input-group>
            <ply-input-group class="flex-1">
              <ply-label class="text-[10px]! uppercase font-light! tracking-[2px]!">Area</ply-label>
              <input ply-input value="Silicon Valley" />
            </ply-input-group>
          </div>
          <ply-input-group class="mb-8 flex-1">
            <ply-label class="text-[10px]! uppercase font-light! tracking-[2px]!">Bio</ply-label>
            <textarea ply-textarea
              rows="3">Digital product designer based in San Francisco. Passionate about minimalism and user-centric design.</textarea>
          </ply-input-group>

          <div class="md:flex gap-4 mt-auto space-y-3 md:space-y-0">
            <button ply-button color="primary" class="md:flex-1 w-full">Save</button>
            <button ply-button class="md:flex-1 w-full">Cancel</button>
          </div>
        </ply-card-body>
      </ply-card>