<!--
  Ply (free tier) — https://ply-ui.com
  Free to use in unlimited projects. Do not redistribute this source as a library, kit, or template collection.
  Full license terms: https://github.com/ply-ui-ng/ply/blob/main/LICENSE.md
-->
<div class="flex justify-between w-full border border-slate-300 dark:border-slate-700 rounded-lg overflow-hidden relative bg-white dark:bg-slate-800 transition-colors duration-200 focus-within:border-blue-500 items-center dark:text-white"
    [class.h-7]="size() === 'sm'"
    [class.h-9]="size() === 'default'"
    [class.h-11]="size() === 'xl'"
    [class.opacity-50]="disabled()" [class.pointer-events-none]="disabled()">
    <select
        class="appearance-none bg-transparent border-none w-full h-full z-2 absolute top-0 left-0 focus:outline-none"
        [class.text-xs]="size() === 'sm'"
        [class.pl-3]="size() === 'sm'"
        [class.pr-7]="size() === 'sm'"
        [class.text-sm]="size() === 'default'"
        [class.pl-4]="size() === 'default'"
        [class.pr-8]="size() === 'default'"
        [class.text-base]="size() === 'xl'"
        [class.pl-5]="size() === 'xl'"
        [class.pr-9]="size() === 'xl'"
        [disabled]="disabled()" [value]="value" (change)="onSelectChange($event)">
        @if (placeholder()) {
        <option value="" disabled selected hidden>{{ placeholder() }}</option>
        }
        <ng-content></ng-content>
    </select>
    <ply-icon name="chevron-down" class="ml-auto w-4 h-4 stroke-slate-500 z-1 mr-3"></ply-icon>
</div>