<!--
  Ply (free tier) — https://ply-ui.com
  Free to use in unlimited projects. Do not redistribute this source as a library, kit, or template collection.
  Full license terms: https://github.com/ply-ui-ng/ply/blob/main/LICENSE.md
-->
<ply-card class="mb-8">
        <div class="p-8 text-center flex flex-col relative h-full">
          <div class="absolute top-6 right-6 flex gap-2 ">
            <ply-icon name="check-circle" class="w-4 h-4 stroke-green-500"></ply-icon>
            <ply-icon name="check-circle" class="w-4 h-4 stroke-green-500"></ply-icon>
            <ply-icon name="check-circle" class="w-4 h-4 stroke-green-500"></ply-icon>
          </div>

          <div
            class="w-24 h-24 rounded-full border-[6px] border-green-500 flex items-center justify-center mx-auto mb-8 mt-4">
            <ply-icon name="check" class="w-12 h-12 stroke-green-500" stroke-width="3"></ply-icon>
          </div>

          <h3 class="text-2xl font-bold text-slate-900 dark:text-white mb-2">Congratulations!</h3>
          <p class="text-base font-bold text-slate-900 dark:text-white mb-4">Your order is accepted.</p>
          <p class="text-xs text-slate-500 mb-8 leading-relaxed max-w-80 mx-auto">Your items are on the way
            and should arrive within 3-5 business days. Check your email for details.</p>

          <div class="flex gap-4 mb-8 text-left bg-slate-50 dark:bg-slate-800/50 p-4 rounded-xl">
            <div class="flex-1">
              <p class="text-[10px]! uppercase font-light! tracking-[2px]! text-slate-400 mb-1">Settings</p>
              <p class="text-sm font-bold text-slate-900 dark:text-white">#245</p>
            </div>
            <div class="w-px bg-slate-200 dark:bg-slate-700"></div>
            <div class="flex-2">
              <p class="text-[10px]! uppercase font-light! tracking-[2px]! text-slate-400 mb-1">Delivery</p>
              <p class="text-xs font-bold text-slate-900 dark:text-white leading-tight">Wednesday 17 August 2024
              </p>
            </div>
          </div>

          <div class="mt-auto flex flex-col gap-4">
            <button ply-button color="primary" class="w-full py-3">Track Your Order</button>
            <button
              class="text-[10px]! uppercase font-light! tracking-[2px]! text-slate-400 hover:text-slate-600 transition-colors w-full text-center py-2">Back
              to home</button>
          </div>
        </div>
      </ply-card>