<!--
  Ply (free tier) — https://ply-ui.com
  Free to use in unlimited projects. Do not redistribute this source as a library, kit, or template collection.
  Full license terms: https://github.com/ply-ui-ng/ply/blob/main/LICENSE.md
-->
<ply-card>
          <div class="p-8 flex flex-col h-full">
            <h3
              class="font-bold text-sm text-slate-900 dark:text-white mb-6 uppercase tracking-widest text-center">
              Login</h3>
            <ply-input-group class="mb-4">
              <ply-label class="text-[10px]! uppercase font-light! tracking-[2px]!">Email address</ply-label>
              <input ply-input placeholder="Email address" />
            </ply-input-group>
            <ply-input-group class="mb-4">
              <ply-label class="text-[10px]! uppercase font-light! tracking-[2px]!">Password</ply-label>
              <input ply-input type="password" placeholder="Password" />
            </ply-input-group>
            <div class="flex items-center justify-between mb-6">
              <ply-checkbox class="text-xs text-slate-500">Keep me logged in</ply-checkbox>
              <a href="#"
                class="text-[10px]! uppercase font-light! tracking-[2px]! text-slate-400 hover:text-slate-600 transition-colors">Forgot
                password?</a>
            </div>
            <button ply-button color="primary" class="w-full py-3 mb-6 mt-auto">Sign In</button>
            <p class="text-center text-[10px] uppercase font-light text-slate-400 tracking-widest">Don't have an
              account?
              <a href="#" class="text-slate-900 dark:text-white">Sign up</a>
            </p>
          </div>
        </ply-card>