<!--
  Ply (free tier) — https://ply-ui.com
  Free to use in unlimited projects. Do not redistribute this source as a library, kit, or template collection.
  Full license terms: https://github.com/ply-ui-ng/ply/blob/main/LICENSE.md
-->
<ng-content select="ply-label"></ng-content>
<div [class]="getWrapperClasses()">
  <div class="flex items-center empty:hidden">
    <ng-content select="[ply-addon-start]" #addon></ng-content>
  </div>
  <ng-content select="datalist"></ng-content>

  <div class="text-sm w-full h-full border-0 bg-transparent outline-none flex-1">
    <ng-content select="[ply-input]"></ng-content>
    <ng-content select="[ply-textarea]"></ng-content>
    <ng-content select="ply-mention-input"></ng-content>
  </div>
  <div class="flex items-center empty:hidden">
    <ng-content select="[ply-addon-end]"></ng-content>
  </div>
</div>
@if (showErrors()) {
<ng-content select="ply-error"></ng-content>
}
<ng-content select="ply-info-text"></ng-content>